<h2>สรุปรายการ</h2>
<table>
  <tr>
    <td>ไอดี</td>
    <td>ชื่อ</td>
    <td>ราคา</td>
    <td>+</td>
  </tr>
  <tr *ngFor="let product of productList; let i = index">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
  </tr>
</table>
<p>ราคา รวม : {{getTotal()}}</p>
