<h2>ดูรายการสินค้า</h2>
<table>
  <tr>
    <td>รหัสสินค้า</td>
    <td>ชื่อสินค้า</td>
    <td>ราคา</td>
    <td></td>
  </tr>
  <tr *ngFor="let product of productList">
    <td>{{product.id}}</td>
    <td style="text-align: left;">{{product.name}}</td>
    <td>{{product.price}}</td>
    <td><button style="background-color: skyblue; border-radius: 7px;"  (click)="addToCart(product)">Add To Cart</button></td>
  </tr>
</table>

<hr>
<h2>ตะกร้าสินค้า</h2>
<table>
  <tr>
    <td>รหัสสินค้า</td>
    <td>ชื่อสินค้า</td>
    <td>ราคา</td>
    <td></td>
  </tr>
  <tr *ngFor="let product of cart; let i = index">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td><button (click)="removeFromCart(i)">Remove</button></td>
  </tr>
</table>
<p>ราคารวม : {{getTotal()}}</p>

<hr>
<h2>สรุปรายการ</h2>
<button (click)="checkBill()">สรุปรายการ</button>

<hr>
<h2>โปรโมชัน</h2>
<table>
  <tr>
    <td>รหัสโปรโมชั่น</td>
    <td>ชื่อโปรโมชั่น</td>
    <td>วันที่เริ่ม</td>
    <td>วันที่สิ้นสุด</td>
    <td>ราคา</td>
    <td>สินค้าที่เข้าร่วมรายการ</td>
  </tr>
  <tr *ngFor="let p of promoLog; let i = index">
    <td>{{p.id}}</td>
    <td>{{p.promo_name}}</td>
    <td>{{p.start_date | date}}</td>
    <td>{{p.end_date | date}}</td>
    <td>{{p.price}}</td>
    <td>{{p.products}}</td>
  </tr>
</table>

<p>รวมราคา: {{getTotal()}}</p>
<p>ลดราคา: {{getPromoTotal()}}</p>
<p>เหลือ: {{getTotal() - getPromoTotal()}}</p>

<hr>
<h2>ดูโปรโมชันเพิ่มเติม</h2>
<table>
  <tr>
    <td>รหัสโปรโมชั่น</td>
    <td>ชื่อโปรโมชั่น</td>
    <td>วันที่เริ่ม</td>
    <td>วันที่สิ้นสุด</td>
    <td>ราคา</td>
    <td>สินค้าที่เข้าร่วมรายการ</td>
  </tr>
  <tr *ngFor="let p of reccom; let i = index">
    <td>{{p.id}}</td>
    <td>{{p.promo_name}}</td>
    <td>{{p.start_date | date}}</td>
    <td>{{p.end_date | date}}</td>
    <td>{{p.price}}</td>
    <td>{{p.products}}</td>
  </tr>
</table>

<hr>
<h2>กรอกเพื่อดูโปรโมชัน</h2>
<input #form type="text" placeholder="ProductID">
<button (click)="getreccom(form)">Search</button>
<table>
  <tr>
    <td>รหัสโปรโมชั่น</td>
    <td>ชื่อโปรโมชั่น</td>
    <td>วันที่เริ่ม</td>
    <td>วันที่สิ้นสุด</td>
    <td>ราคา</td>
    <td>สินค้าที่เข้าร่วมรายการ</td>
  </tr>
  <tr *ngFor="let p of additionalReccom; let i = index">
    <td>{{p.id}}</td>
    <td>{{p.promo_name}}</td>
    <td>{{p.start_date | date}}</td>
    <td>{{p.end_date | date}}</td>
    <td>{{p.price}}</td>
    <td>{{p.products}}</td>
  </tr>
</table>
