table{
 text-align: center;  
 justify-content: center;
}

td {
    padding: 0.50rem 0.5rem;
    text-align: end;
}

.p-button {
    background: #3e9ef7;
    border: 1px solid #3e9ef7;

    &:enabled:hover {
        background: #3e57f7;
        border: 1px solid #3e57f7;
    }

    &.green {
        background: #5cb85c;
        border: 1px solid #5cb85c;

        &:enabled:hover {
            background: #1b8b00;
            border: 1px solid #1b8b00;
        }
    }

    &.yellow {
        background: #f7ce3e;
        border: 1px solid #f7ce3e;

        &:enabled:hover {
            background: #d8a400;
            border: 1px solid #d8a400;
        }
    }

    &.blue {
        background: #3e9ef7;
        border: 1px solid #3e9ef7;

        &:enabled:hover {
            background: #3e57f7;
            border: 1px solid #3e57f7;
        }
    }

    &.red {
        background: #EF4444;
        border: 1px solid #EF4444;

        &:enabled:hover {
            background: #cf4646;
            border: 1px solid #cf4646;
        }
    }

    &.sky {
        background: #5bc0de;
        border: 1px solid #5bc0de;

        &:enabled:hover {
            background: #3f95af;
            border: 1px solid #3f95af;
        }
    }
}